.btx-review h2 {
  margin-bottom: 58px;
}

.btx-review__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 93px;

  padding-left: $offset;
  padding-right: $offset;
  // max-width: 1175px;
  max-width: $desktop-wrapper;
}

.btx-review__wrapper video {
  margin-bottom: 6px;

  background-color: #262626;
}

.btx-review__video p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.btx-review__video span {
  font-weight: bold;
}

.btx-review__video--type2 {
  margin-left: 55px;
}

.btx-review__wrapper--type2 {
  margin-bottom: 100px;
}

.btx-review__wrapper--type2 h4,
.btx-review__wrapper--type2 p {
  padding: 0;
  margin: 0;
}

.btx-review__wrapper--type2 span {
  display: block;
  box-sizing: border-box;
  margin-bottom: 33px;
  width: 204px;
  height: 297px;

  border-radius: 3px;
  background-color: $bg-gray;
}

.btx-review__wrapper--type2 ul {
  @include unlist();
  display: flex;
  justify-content: space-between;

  padding-left: $offset;
  padding-right: $offset;
  max-width: 1235px;
  // max-width: $desktop-wrapper;
}

.btx-review__wrapper--type2 li {
  display: inline-block;
  vertical-align: middle;
  min-width: 22%;

  text-align: center;
}

.btx-review__wrapper--type2 h4 {
  margin-bottom: 3px;

  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 163.4%;
  letter-spacing: 0.05em;
}

.btx-review__wrapper--type2 p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;

  opacity: 0.3;
}

@media (max-width: $tablet-width-max) {
  .btx-review__wrapper {
    margin-bottom: 60px;
  }

  .btx-review__wrapper--type1 {
    display: block;
    text-align: center;
  }

  .btx-review__video--type2 {
    margin: 0 auto;
  }

  .btx-review__wrapper--type2 ul {
    flex-direction: column;

    padding-left: $tablet-offset;
    padding-right: $tablet-offset;
    width: $tablet-width-max;

    li {
      margin-bottom: 20px;
    }
  }

  .btx-review__wrapper--type2 span {
    width: auto;
  }

  .btx-review__video p {
    margin: 0 auto;
    margin-bottom: 20px;
    width: auto;

    font-size: 14px;
  }

  .btx-review__video video {
    width: 100%;
  }
}

// @media (max-width: $mobile-width-max) {}
