.btx-advantages {
  margin-bottom: 50px;
}

.btx-advantages__wrapper {
  margin: 0 auto;

  padding-left: $offset;
  padding-right: $offset;
  max-width: 1166px;
  // max-width: $desktop-wrapper;
}

.btx-advantages__list {
  @include unlist();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btx-advantages__list h3,
.btx-advantages__list p {
  padding: 0;
  margin: 0;
}

.btx-advantages__list li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 86px;
  margin-bottom: 60px;
  max-width: 35%;
}

.btx-advantages__item svg {
  position: absolute;
  left: 0;

  fill: $white;
  opacity: 0.5;
}

.btx-advantages__item:hover {
  cursor: pointer;

  svg {
    fill: $bg-red;
    opacity: 1;
  }
}

.btx-advantages__item h3 {
  margin-bottom: 10px;

  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}

.btx-advantages__item p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;

  opacity: 0.5;
}
