.btx-body {
  padding-top: 70px;

  // overflow: hidden;
  background-image: url("../img/bg-d@1x.png");
  background-size: 214%;
  background-repeat: no-repeat;
  background-position-y: 10.3%;
  background-position-x: 35%;
}
