.btx-links {
  padding-top: 126px;
  padding-bottom: 50px;

  background-color: $bg-dark;
}

.btx-links__wrapper {
  @include unlist();

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  // margin-bottom: 120px;

  padding-left: $offset;
  padding-right: $offset;
  // max-width: 1175px;
  max-width: $desktop-wrapper;
}

.btx-links__wrapper li {
  display: block;
  box-sizing: border-box;
  margin-bottom: 70px;
  width: 20%;

  text-align: center;
  opacity: 0.3;
}

.btx-links__wrapper li:hover {
  opacity: 1;

  cursor: pointer;
}
