.btx-stuff {
  position: relative;
  margin: 0 auto;
  max-width: $desktop-wrapper;
}

.btx-stuff h3 {
  padding: 0;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
}

.btx-stuff__slider {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $desktop-width;
}

.btx-stuff__item {
  padding: 140px 0 48px 0;
  margin: 0 20px;
  width: 80%;

  text-align: center;
  background-color: $bg-gray;
}

.btx-stuff__item a {
  padding: 15px 43px;
  margin: 0;

  color: $white;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;

  outline: none;
  border: 1px solid $bg-red;
  border-radius: 50px;
}

.btx-stuff__item a:hover {
  background-color: $bg-red;
}

.btx-stuff__item a:active {
  opacity: 0.8;
}

.btx-stuff__prev,
.btx-stuff__next {
  position: absolute;
  margin: 0 auto;
  bottom: -45px;
  left: 0;
  right: 0;

  outline: none;
  border-radius: 50%;
  height: 40px;
}

.btx-stuff__prev {
  left: 3.5%;
}

.btx-stuff__next {
  right: 3.5%;
}
