// .btx-advantages {}
.btx-advantages__wrapper {
  margin: 0 auto;
  max-width: $desktop-wrapper;
}

.btx-advantages__list {
  @include unlist();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btx-advantages__list h3,
.btx-advantages__list p {
  padding: 0;
  margin: 0;
}

.btx-advantages__list li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 86px;
  margin-bottom: 20px;
  max-width: 35%;
}

.btx-advantages__item svg {
  position: absolute;
  left: 0;

  fill: $white;
  opacity: 0.5;
}

.btx-advantages__item:hover {
  cursor: pointer;

  svg {
    fill: $bg-red;
    opacity: 1;
  }
}
