.btx-header__top {
  @include container();

  z-index: 5;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  margin-bottom: 88px;

  padding-left: $offset;
  padding-right: $offset;
  max-width: $desktop-wrapper;
}

.btx-header__top img {
  padding: 0;
  margin: 0;

  cursor: pointer;
}

.btx-header__top img:hover {
  opacity: 0.8;
}

.btx-header__top a:hover {
  color: $bg-red;
}

.btx-header__top a:active {
  opacity: 0.8;
}

.btx-header__nav,
.btx-header__contacts {
  @include unlist();
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btx-header__contacts a {
  display: inline-block;
  vertical-align: middle;

  font-size: 0;

  cursor: pointer;
}

.btx-header__nav a {
  padding: 0;
  margin: 0;

  font-family: $roboto, "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  text-decoration: none;
}

.btx-header__nav {
  min-width: 41%;
  margin-left: 40px;
}

.btx-header__contacts {
  min-width: 127px;
  align-items: inherit;
}

.btx-header__git {
  fill: none;
  stroke: $white;
}

.btx-header__phone,
.btx-header__mail {
  fill: $bg-red;
}

.btx-header__phone:hover,
.btx-header__mail:hover {
  fill: $white;
  stroke: $bg-red;
}

.btx-header__git:hover {
  stroke: $bg-red;
}

.btx-header__phone:active,
.btx-header__mail:active,
.btx-header__git:active {
  opacity: 0.3;
}

.btx-header__git:active {
  stroke: $white;
}

.btx-header__title {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;

  padding-left: $offset;
  padding-right: $offset;
  max-width: $desktop-wrapper;
}

.btx-header__container {
  padding: 0;
  margin: 0;
}

.btx-header__title h1 {
  padding: 0;
  margin: 0 0 53px 0;
  max-width: 60%;

  overflow-x: hidden;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  line-height: 137%;

  span {
    font-weight: 200;
  }
}

.btx-header__title::after {
  position: absolute;
  content: "";
  top: -125px;
  left: 540px;
  width: 757px;
  height: 761px;

  background-image: url("../img/header-img-d@1x.png");
  background-repeat: no-repeat;
}

.btx-header__features {
  @include unlist;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  max-width: 600px;

  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
}

.btx-header__features li {
  position: relative;
  padding: 0 0 0 45px;
  margin: 0 70px 50px 0;
  min-width: 160px;
}

.btx-header__features li::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  left: 0;
  top: -7px;

  background: url("../img/icon-check.svg") 50% 50%;
  background-repeat: no-repeat;
}

.btx-header__skills {
  margin: 0 auto;
  margin-bottom: 110px;
  max-width: 1075px;
}

.btx-header__skills ul {
  @include unlist();
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.btx-header__skills li {
  padding-left: 48px;
  width: 16%;

  border-left: 1px solid rgba($color: $white, $alpha: 0.2);
}

.btx-header__skills img {
  margin-bottom: 20px;
}

.btx-header__skills li:first-child {
  padding-left: 0;
  border: none;
}

.btx-header__skills p {
  padding: 0;
  margin: 0;

  max-width: 150px;
}

.btx-header__leng {
  display: none;
}

.btx-header__toggle {
  display: none;
}

.btx-header__top--team {
  padding-top: 70px;
}

.btx-header__top--profile {
  padding-top: 70px;
  margin-bottom: 40px;
}

@media (max-width: $tablet-width-max) {
  .btx-header__logo {
    display: none;
  }

  .btx-header__leng {
    display: block;
  }

  .btx-header__leng span,
  .btx-header__leng a {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #626262;

    text-decoration: none;
  }

  .btx-header__leng .btx-header__ru:hover,
  .btx-header__leng .btx-header__en:hover {
    color: $white;
  }

  .btx-header__top {
    padding-left: $tablet-offset;
    padding-right: $tablet-offset;

    width: auto;
    max-width: none;
  }

  .btx-header__contacts {
    min-width: 210px;
  }

  .btx-header__nav {
    min-width: 60%;
    margin-left: 0;
  }

  .btx-header__title h1 {
    margin: 0 0 33px 0;
    max-width: 70%;

    font-size: 48px;
  }

  .btx-header__title::after {
    top: -125px;
    left: 54%;
    // width: 757px;
    height: 761px;

    // overflow: hidden;
    background-image: url("../img/header-img-t@1x.png");
    background-repeat: no-repeat;
  }

  .btx-header__skills {
    margin-bottom: 90px;
  }

  .btx-header__skills ul {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .btx-header__skills li {
    padding-left: 0;
    margin-bottom: 20px;
    width: auto;

    text-align: center;
    border-left: none;
  }

  .btx-header__top--team {
    padding-top: 50px;
  }

  .btx-header__top--profile {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: $mobile-width-max) {
  .btx-header__container {
    width: auto;

    text-align: center;
  }

  .btx-header__title {
    margin-bottom: 30px;
  }

  .btx-header__title h1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    max-width: $mobile-width-max;

    text-align: center;

    overflow-x: auto;
    font-size: 36px;
  }

  .btx-header__phone,
  .btx-header__mail {
    svg {
      width: 30px;
      height: 30px;
    }
  }

  .btx-header__top {
    padding-left: $offset;
    padding-right: $offset;
    margin-bottom: 30px;

    width: 100%;
    max-width: $mobile-width-max;
  }

  .btx-header__title::after {
    display: none;
  }

  .btx-header__nav {
    min-width: 15%;
  }

  .btx-header__nav li:not(:first-child) {
    display: none;
  }

  .btx-header__toggle {
    display: block;

    span {
      width: 24px;
      height: 24px;
    }
  }

  .btx-header__toggle svg {
    fill: #626262;
  }

  .btx-header__toggle:hover svg {
    fill: $white;
    cursor: pointer;
  }

  .btx-header__contacts {
    min-width: 180px;
  }

  .btx-header__features {
    justify-content: center;

    max-width: 100%;
  }

  .btx-header__features li {
    margin-bottom: 30px;
  }

  .btx-header__skills {
    display: none;
  }

  .btx-header__top--team {
    padding-top: 35px;
  }

  .btx-header__top--profile {
    padding-top: 35px;
    // margin-bottom: 40px;
  }
}
