.btx-title {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 64px;

  // max-width: 1175px;
  padding-left: $offset;
  padding-right: $offset;
  max-width: $desktop-wrapper;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 100%;
}

.btx-title--detailed {
  font-weight: 200;
  font-size: 36px;
  line-height: 130%;

  color: #636363;
}

.btx-title--white {
  color: $white;
}

@media (max-width: $tablet-width-max) {
  .btx-title {
    margin-bottom: 30px;

    padding-left: $tablet-offset;
    padding-right: $tablet-offset;
    max-width: $tablet-width-max;

    font-size: 36px;

    text-align: center;
  }
}

// @media (max-width: $mobile-width-max) {}
