.btx-review__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: $desktop-wrapper;
}

.btx-review__wrapper video {
  background-color: #262626;
}

.btx-review__video p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.btx-review__video span {
  font-weight: bold;
}

.btx-review__wrapper--type2 {
  margin-bottom: 100px;
}

.btx-review__wrapper--type2 h4,
.btx-review__wrapper--type2 p {
  padding: 0;
  margin: 0;
}

.btx-review__wrapper--type2 span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 33px;
  width: 204px;
  height: 297px;

  border-radius: 3px;
  background-color: $bg-gray;
}

.btx-review__wrapper--type2 ul {
  @include unlist();
  display: flex;
  justify-content: space-between;

  max-width: $desktop-wrapper;
}

.btx-review__wrapper--type2 li {
  display: inline-block;
  vertical-align: middle;
  min-width: 21.5%;

  text-align: center;
}

.btx-review__wrapper--type2 h4 {
  margin-bottom: 3px;

  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 163.4%;
  letter-spacing: 0.05em;
}

.btx-review__wrapper--type2 p {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;

  opacity: 0.3;
}
