.btx-body {
  padding-top: 70px;

  // overflow: hidden;
  background-image: url("../img/bg-d@1x.png");
  // background-size: 214%;
  background-repeat: no-repeat;
  background-position-y: -145%;
  background-position-x: 36%;
}

@media (max-width: $tablet-width-max) {
  .btx-body {
    padding-top: 50px;
  }
}

@media (max-width: $mobile-width-max) {
  .btx-body {
    padding-top: 35px;
  }
}
