.button {
  padding: 18px 37px;
  margin: 0;

  color: $white;
  font-family: $roboto, "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  border-radius: 50px;
  background-color: $bg-red;
  border: none;

  cursor: pointer;
}

.button__btx-header {
  box-shadow: 0 0 50px 5px rgba(183, 0, 70, 0.5);
}

.button__btx-header:hover {
  color: $bg-red;
  background-color: $white;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}

.button__profile-modal,
.button__popup {
  padding: 15px 0;
  margin-right: 30px;
  width: 35%;

  font-size: 12px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 5px;
}

.button__profile-modal {
  padding: 15px 0;

  width: 30%;
}

.button__profile-modal:hover {
  color: $bg-red;

  background-color: $white;
}

.button__profile-modal:active,
.button__btx-header:active {
  opacity: 0.3;
}

.button__feedback,
.button__portfolio {
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  min-width: 211px;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid $bg-red;
  border-radius: 5px;

  background-color: transparent;
}

.button__portfolio {
  margin-bottom: 90px;
}

.button__portfolio:hover {
  background-color: $bg-red;
}

.button__feedback:active,
.button__portfolio:active {
  opacity: 0.5;
  outline: none;
}

.button__feedback:focus,
.button__portfolio:focus {
  outline: none;
}

.button__feedback {
  margin-left: 0;

  background-color: $bg-red;
}

.button__feedback:hover {
  background-color: transparent;
}

.button__detailed {
  text-decoration: none;
}

.button__detailed--screenshot,
.button__detailed--like {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 0 -10px;
  width: 46px;
  height: 46px;

  font-size: 0;
  border-radius: 50%;

  outline: none;
}

.button__detailed--screenshot {
  margin-bottom: 30px;
  width: 68px;
  height: 68px;
}

.button__detailed--screenshot svg,
.button__detailed--like svg {
  stroke: $white;
}

.button__detailed--screenshot:hover svg,
.button__detailed--like:hover svg {
  stroke: $bg-red;
}

.button__detailed:hover,
.button__detailed--like:hover {
  color: $bg-red;
  background-color: $white;
}

@media (max-width: $tablet-width-max) {
  .button__btx-header {
    padding: 18px 145px;
  }

  .button__profile-modal {
    width: 50%;
  }
}

@media (max-width: $mobile-width-max) {
  .button__btx-header {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;

    padding: 12px 15px;
    width: 290px;
  }

  .button__profile-modal {
    width: 100%;
  }

  .button__popup {
    margin-right: 0;
    margin-bottom: 20px;
    width: 90%;
  }
}
