.button {
  padding: 18px 37px;
  margin: 0;

  color: $white;
  font-family: $roboto, "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  border-radius: 50px;
  background-color: $bg-red;
  border: none;

  cursor: pointer;
}

.button__btx-header {
  box-shadow: 0 0 50px 5px rgba(183, 0, 70, 0.5);
}

.button__btx-header:hover {
  color: $bg-red;
  background-color: $white;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
}

@media (max-width: $tablet-width-max) {
  .button__btx-header {
    padding: 18px 145px;
  }
}

@media (max-width: $mobile-width-max) {
  .button__btx-header {
    padding: 12px 15px;
    width: 290px;
  }
}
