.detailed__img-header {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 500px;

  background: url("../img/detailed-top-bg@1x.png");
  background-size: cover;
  background-position: center;
}

.detailed__header {
  background-color: rgba($color: $black, $alpha: 0.2);
}

.detailed__top {
  padding-top: 18px;
  padding-bottom: 19px;
  margin-bottom: 180px;
}

.detailed__bg-heder {
  padding-bottom: 65px;
  width: 100%;

  background: linear-gradient(0deg, #1e1d1e 0%, rgba(30, 29, 30, 0) 100%) bottom;
  background-position: bottom;
}

.detailed__title {
  flex-basis: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 50px;

  font-size: 64px;
  line-height: 100%;
  color: $white;
}

.detailed__bottom-header {
  @include container();
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.detailed__bottom-header::after {
  position: absolute;
  content: "";
  bottom: -55px;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.5px;

  background-color: rgba($color: $white, $alpha: 0.2);
}

.detailed__list {
  @include unlist();
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
}

.detailed__list--dev {
  flex-basis: 18%;
}

.detailed__info {
  padding: 0;
  margin: 0;

  margin-bottom: 10px;
}

.detailed__info span {
  opacity: 0.5;
}

.detailed__form select {
  color: $white;

  border: none;
  background-color: transparent;

  outline: none;
}

.detailed__form option {
  background-color: transparent;
}

.detailed__list--like {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 46px;
}

.detailed__technology {
  @include container();
  @include unlist();
  display: flex;
  justify-content: space-between;
  padding-left: $offset;
  padding-right: $offset;
  padding-bottom: 50px;
  margin: 0 auto;
  margin-bottom: 47px;

  max-width: $desktop-wrapper;

  border-bottom: 0.5px solid rgba($color: $white, $alpha: 0.2);
}

.detailed__item {
  padding: 12px 0;
  flex-basis: 11.4%;

  text-align: center;

  background-color: $bg-gray;
  border: 0.5px solid transparent;
  border-radius: 3px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.02),
    0 7px 5px rgba(0, 0, 0, 0.03),
    0 13px 10px rgba(0, 0, 0, 0.04),
    0 22px 18px rgba(0, 0, 0, 0.04),
    0 42px 34px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.detailed__item--active {
  background-color: $bg-red;
}

.detailed__article h2 {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 40px;
}

.detailed__article p {
  padding: 0;
  margin: 0 0 60px 0;

  font-size: 16px;
  line-height: 180%;
  color: #6a6a6a;
}

.detailed__project {
  @include container();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-bottom: 30px;
  margin-bottom: 100px;

  border-bottom: 0.5px solid rgba($color: $white, $alpha: 0.2);
}

.detailed__article {
  flex-basis: 70%;
}

@media (max-width: $tablet-width-max) {
  .detailed__top {
    margin-bottom: 100px;
  }

  .detailed__bottom-header {
    margin-bottom: 43px;

    width: 100%;
  }

  .detailed__list {
    flex: 1;
    justify-content: center;
  }

  .detailed__list--dev {
    flex-basis: 100%;
    justify-content: center;
  }

  .detailed__list--dev li {
    margin: 0 5px;
  }

  .detailed__technology {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .detailed__item {
    margin: 0 2px 10px 2px;
    min-width: 130px;
  }

  .detailed__article {
    flex-basis: 100%;
  }
}

@media (max-width: $mobile-width-max) {
  .detailed__top {
    margin-bottom: 50px;
  }

  .detailed__bg-heder {
    padding-bottom: 0;
  }

  .detailed__list li {
    margin-bottom: 10px;
    width: 100%;

    text-align: center;
  }

  .detailed__title {
    margin-bottom: 20px;

    font-size: 50px;
  }

  .detailed__article {
    padding-left: 10px;
    padding-right: 10px;
  }

  .detailed__article p {
    margin-bottom: 30px;
  }

  .detailed__project {
    margin-bottom: 30px;
    width: auto;
  }
}
