.detailed__img-header {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 500px;

  border-bottom: 0.5px solid rgba($color: $white, $alpha: 0.2);

  background: url("../img/detailed-top-bg@1x.png");
  background-size: cover;
  background-position: center;
}

.detailed__header {
  background-color: rgba($color: $black, $alpha: 0.2);
}

.detailed__top {
  padding-top: 18px;
  padding-bottom: 19px;
  margin-bottom: 180px;
}

.detailed__bg-heder {
  width: 100%;

  background-position: bottom;
}

.detailed__title {
  margin-bottom: 50px;

  font-size: 64px;
  line-height: 100%;
  color: $white;
}

.detailed__bottom-header {
  @include container();
  display: flex;
  justify-content: space-between;

  background: linear-gradient(0deg, #1e1d1e 0%, rgba(30, 29, 30, 0) 100%) bottom;
}

.detailed__lisi {
  @include unlist();
  display: flex;
}
