// @import 'core';
// @import 'animate';
// @import 'autoheight';
// @import 'lazyload';
// @import 'video';

.owl-stage {
  display: flex;
  justify-content: space-between;
}

.owl-next,
.owl-prev {
  display: none;
}
