.portfolio {
  @include container();
  padding-top: 10px;
  max-width: 1235px;
}

.portfolio__tabs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: $offset;
  padding-right: $offset;
  margin-bottom: 50px;

  border-bottom: 1px solid $bg-gray;
}

.portfolio__subtabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

.portfolio__sublabel {
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
  margin: 0 0 22px 0;
  width: 15%;

  font-weight: 300;
  text-align: center;
  color: #f8f8f8;

  opacity: 0.8;

  background-color: $bg-gray;
  border: 0.5px solid $bg-gray;
  border-radius: 3px;
  cursor: pointer;
}

.portfolio__sublabel.active {
  color: $white;

  background-color: transparent;
  border: 0.5px solid $bg-red;

  opacity: 1;
}

.portfolio__sublabel:hover {
  border: 0.5px solid $bg-red;
}

.portfolio__sublabel--wordpress,
.portfolio__sublabel--bitrix,
.portfolio__sublabel--modx,
.portfolio__sublabel--joomla,
.portfolio__sublabel--tilda {
  position: relative;
  padding-left: 50px;
  width: 13%;
}

.portfolio__sublabel--wordpress:hover,
.portfolio__sublabel--bitrix:hover,
.portfolio__sublabel--modx:hover,
.portfolio__sublabel--joomla:hover,
.portfolio__sublabel--tilda:hover {
  color: $white;
  opacity: 1;
}

.portfolio__sublabel--wordpress::before,
.portfolio__sublabel--bitrix::before,
.portfolio__sublabel--modx::before,
.portfolio__sublabel--joomla::before,
.portfolio__sublabel--tilda::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  left: 80px;
  top: 17px;

  background-repeat: no-repeat;
}

.portfolio__sublabel--wordpress::before {
  left: 65px;

  background-image: url("../img/icon-wordpress.png");
}

.portfolio__sublabel--bitrix::before {
  left: 60px;

  background-image: url("../img/icon-bitrix-hover.png");
}

.portfolio__sublabel--modx::before {
  background-image: url("../img/icon-modx.png");
}

.portfolio__sublabel--joomla::before {
  left: 70px;

  background-image: url("../img/icon-joomla.png");
}

.portfolio__sublabel--tilda::before {
  padding-left: 35px;

  background-image: url("../img/icon-tilda.png");
}

.portfolio__subtabs input,
.portfolio__tabs input {
  display: none;
}

.portfolio__label {
  display: inline-block;
  vertical-align: middle;

  padding-bottom: 20px;

  font-family: "Oswald",
    "Arial",
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;

  text-align: center;

  color: #f8f8f8;

  opacity: 0.2;

  cursor: pointer;
}

.portfolio__label:hover {
  opacity: 0.5;
}

.portfolio__label.active {
  border-bottom: 1px solid $outline-red;
  opacity: 1;
}

.portfolio__space,
.portfolio__listing {
  display: none;
}

.portfolio__space.active,
.portfolio__listing.active {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin: 0 auto;
  // margin-bottom: 60px;

  padding-left: $offset;
  padding-right: $offset;
  max-width: 1235px;
}

.portfolio__space.active {
  display: flex;
  // justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.portfolio__item {
  position: relative;
  flex: 1 1 28%;

  padding: 0;
  margin: 0 32px 32px 0;

  width: 380px;
  height: 394px;

  text-align: center;

  box-shadow: 0 0 35px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__link {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.portfolio__link--hover {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;

  width: 100%;
  height: 394px;
}

.portfolio__item:hover .portfolio__link--hover {
  z-index: 5;
}

.portfolio__link img {
  width: 380px;
  height: 394px;

  object-fit: cover;

  border-radius: 3px;
}

.portfolio__name {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.portfolio__client {
  padding: 0;
  margin: 0 0 12px 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 100%;

  text-decoration: none;
  letter-spacing: 0.1em;

  color: $white;
}

.portfolio__work {
  padding: 0;
  margin: 0;

  font-weight: 500;
  line-height: 100%;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba($color: $white, $alpha: 0.3);

}

@media (max-width: $tablet-width-max) {
  .portfolio__item {
    flex: 1 1 42%;

    padding: 0;
    margin: 0 20px 20px 0;

    // width: 380px;
    // height: 394px;

    // text-align: center;

    // box-shadow: 0 0 35px rgba(0, 0, 0, 0.8);
    // border-radius: 3px;
  }

  .portfolio__item:nth-child(3n) {
    margin-right: 20px;
  }

  .portfolio__item:nth-child(even) {
    margin-right: 0;
  }

  .portfolio__subtabs {
    justify-content: space-around;
    margin-bottom: 15px;
    // width: 100%;
  }

  .portfolio__sublabel--wordpress::before,
  .portfolio__sublabel--bitrix::before,
  .portfolio__sublabel--modx::before,
  .portfolio__sublabel--joomla::before,
  .portfolio__sublabel--tilda::before {
    // position: absolute;
    // content: "";
    width: 20px;
    height: 20px;
    left: 40px;
    top: 17px;

    background-repeat: no-repeat;
  }

  .portfolio__tabs {
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-width-max) {
  .portfolio {
    width: 100%;
  }

  .portfolio__label {
    margin: 5px 2px;
  }

  .portfolio__subtabs {
    flex-direction: column;
  }

  .portfolio__sublabel {
    width: auto;
  }

  .portfolio__space.active {
    // flex-direction: column;
    width: 100%;
  }

  .portfolio__item {
    flex: 1 1 100%;
    margin: 0 0 10px 0;
  }

  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }

  .portfolio__item:nth-child(even) {
    margin-right: 0;
  }
}
