.profile-page {
  @include container();
}

.btx-footer__profile-page {
  position: relative;
}

.profile-page__card {
  padding: 30px 90px 42px 60px;
  margin-bottom: 62px;

  background-color: rgba($color: $black, $alpha: 0.25);
}

.profile-page__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-page__col img {
  margin-right: 30px;
}

.profile-page__col h1 {
  padding: 0;
  margin: 0 0 25px 0;

  font-size: 36px;
}

.profile-page__stat {
  position: relative;
  padding-top: 50px;
  width: 30%;

  text-align: center;
}

.profile-page__stat p {
  padding: 30px 0 0 0;
  margin: 0;

  opacity: 0.3;
}

.profile-page__stat span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;

  width: 70px;
  height: 70px;

  font-family: $roboto, "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 290%;

  text-align: center;

  border: 1px solid $bg-red;
  border-radius: 50%;
}

.profile-page__row {
  display: flex;
  align-items: center;
}

.profile-page__row ul {
  @include unlist();
  display: flex;
  align-items: center;
}

.profile-page__row a {
  color: $white;
  text-decoration: none;
}

.profile-page__row--type1 {
  margin-bottom: 30px;
}

.profile-page__row.profile-page__row--type1 {
  justify-content: space-between;
}

.profile-page__row--type2 {
  padding-top: 40px;

  border-top: 1px solid rgba($color: $white, $alpha: 0.1);
}

.profile-page__row--type2 p,
.profile-page__row--type2 a {
  padding: 0;
  margin: 0;

  font-family: $roboto, "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;

  letter-spacing: 0.005em;

  color: #535353;
}

.profile-page__row--type2 li {
  position: relative;

  padding-left: 22px;
  margin-right: 64px;
}

.profile-page__location::before {
  position: absolute;
  content: "";
  left: 0;
  top: 2px;
  width: 13px;
  height: 15px;

  background: url("../img/icon-pinmap.svg") no-repeat;
}

.profile-page__mail::before {
  position: absolute;
  content: "";
  left: -5px;
  top: 5px;
  width: 20px;
  height: 15px;

  background: url("../img/icon-pinmail.svg") no-repeat;
}

.profile-page__mail:hover {
  color: $bg-red;
}

.profile-page__since::before {
  position: absolute;
  content: "";
  left: 0;
  top: 2px;
  width: 13px;
  height: 15px;

  background: url("../img/icon-pinwatch.svg") no-repeat;
}

.profile-page__spec {
  display: block;
  padding: 11px 30px 12px;
  max-width: 161px;

  font-family: $roboto, "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  text-align: center;

  border: 1px solid $bg-red;
  border-radius: 50px;
}

.profile-page__spec:hover {
  color: $white;

  background-color: $bg-red;
}

.profile-page__description {
  display: flex;
}

.profile-page__portfolio {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.profile-page__portfolio h2,
.profile-page__column h3,
.profile-page__column h2,
.profile-page__column p {
  padding: 0;
  margin: 0;
}

.profile-page__portfolio h2,
.profile-page__column h2 {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 16px;
  line-height: 130%;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #535353;

  span {
    padding: 0;
    margin: 0;

    font-weight: bold;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $bg-red;
    opacity: 1;
  }
}

.profile-page__portfolio h2 {
  margin-bottom: 50px;
}

.profile-page__column--type1 p {
  padding-bottom: 50px;

  font-weight: normal;
  font-size: 16px;
  line-height: 180%;

  color: #afafaf;

  border-bottom: 1px solid rgba($color: $white, $alpha: 0.1);
}

.profile-page__column--type2 {
  position: relative;

  margin-left: 80px;
  margin-bottom: 109px;
  max-width: 35%;
}

.profile-page__vert-slider {
  padding-bottom: 20px;

  border-bottom: 2px solid $bg-gray;
}

.profile-page__vert-slide {
  padding: 30px 35px 36px 33px;
  margin-bottom: 25px;

  background-color: $bg-gray;
}

.profile-page__vert-slide:hover {
  background: linear-gradient(149.12deg, $bg-gray -10.83%, #880034 110.68%);

  cursor: pointer;
}

.profile-page__vert-slide p {
  position: relative;
}

.profile-page__vert-slide img {
  position: absolute;
  top: -55px;
}

.profile-page__column--type2 h3,
.profile-page__column--type2 span {
  padding-left: 65px;
}

.profile-page__column--type2 h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.profile-page__column--type2 span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;

  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #c4c4c4;

  opacity: 0.5;
}

.profile-page__column--type2 p {
  padding-top: 14px;
  padding-right: 45px;

  line-height: 150%;

  color: #afafaf;

  border-top: 0.5px solid rgba($color: $white, $alpha: 0.1);
}

.profile-page__button {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 63px;
  height: 63px;

  font-size: 0;

  outline: none;
  border: none;
  background: url("../img/arrow-down.png") 50% 50% no-repeat;
  background-color: $bg-page;

  cursor: pointer;
}

.profile-page__slider {
  display: block;
  margin: 0 auto;
  margin-bottom: 102px;
}

.profile-page__item {
  padding: 50px 0 0 0;
  margin: 0;
  max-width: 90%;

  text-align: center;
  background-color: $bg-gray;
  border-radius: 3px;
}

.profile-page__item:hover {
  background: linear-gradient(149.12deg, $bg-gray -10.83%, #880034 110.68%);

  cursor: pointer;
}

.profile-page__item img {
  margin: 0 auto;

  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.35);
}

.profile-page__prev,
.profile-page__next {
  position: absolute;
  margin: 0 auto;
  bottom: 43%;
  width: 42px;
  height: 42px;

  font-size: 0;

  outline: none;
  border: hidden;
  // border-radius: 50%;
  background-color: transparent;

  cursor: pointer;
}

.profile-page__prev {
  left: -50px;

  background: url("../img/slider-arrow-1.svg") 50% 50% no-repeat;
}

.profile-page__next {
  right: -30px;

  transform: rotate(180deg);
  background: url("../img/slider-arrow-1.svg") 50% 50% no-repeat;
}

.profile-page__prev:hover {
  transform: rotate(180deg);
  background: url("../img/slider-arrow-1-hover.svg") 50% 50% no-repeat;
}

.profile-page__next:hover {
  transform: rotate(0deg);
  background: url("../img/slider-arrow-1-hover.svg") 50% 50% no-repeat;
}

.profile-page__dots {
  text-align: center;
  display: flex; // поставить кнопки в ряд
  justify-content: center; // выровнять по центру
  list-style: none; // убираем черные маркеры
}

.profile-page__dots button {
  padding: 0;
  margin: 35px 5px 0;
  width: 8px;
  height: 8px;

  font-size: 0;

  outline: none;
  border: none;
  border-radius: 50%;

  background-color: rgba($color: $white, $alpha: 0.1);
}

.profile-page__dots li[class="slick-active"] button {
  background: $bg-red;
}

@media (max-width: $tablet-width-max) {
  .profile-page__card {
    padding: 30px 30px 42px 30px;
    margin-bottom: 62px;
  }

  .profile-page__spec {
    max-width: 100%;
  }

  .profile-page__col ul {
    justify-content: flex-end;
  }

  .profile-page__stat span {
    width: 55px;
    height: 55px;

    font-size: 20px;
  }

  .profile-page__stat {
    width: 25%;
  }

  .profile-page__stat p {
    padding: 20px 0 0 0;
  }

  .profile-page__row--type2 ul {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  .profile-page__row--type2 li {
    margin-right: 0;
  }

  .profile-page__block {
    text-align: center;
  }
}

@media (max-width: $mobile-width-max) {
  .profile-page {
    width: 100%;
  }

  .profile-page__card {
    padding: 30px;
    margin-bottom: 30px;
  }

  .profile-page__stat {
    width: 30%;
  }

  .profile-page__portfolio h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .profile-page__col {
    flex-direction: column;
  }

  .profile-page__stat p {
    font-size: 12px;
  }

  .profile-page__col img {
    margin-right: 0;
  }

  .profile-page__row--type1 {
    flex-direction: column;
  }

  .profile-page__block {
    margin-bottom: 35px;
  }

  .profile-page__column--type1 h2,
  .profile-page__column--type2 h2 {
    text-align: center;
  }

  .profile-page__column--type1 p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .profile-page__column--type2 {
    margin-left: 0;
    margin-bottom: 35px;
    max-width: none;
  }

  .profile-page__row--type2 {
    padding-top: 20px;
  }

  .profile-page__row--type2 ul {
    justify-content: center;
  }

  .profile-page__row--type2 li {
    margin-right: 0;
  }

  .profile-page__row--type2 li:not(:nth-child(3)) {
    display: none;
  }

  .profile-page__col ul {
    justify-content: space-between;
    align-items: baseline;
  }

  .profile-page__description {
    flex-direction: column;
  }

  .profile-page__vert-slider {
    padding: 0;
  }

  .profile-page__button {
    bottom: -5px;
    width: 40px;
    height: 15px;
  }

  .profile-page__slider {
    margin-bottom: 35px;
  }

  .profile-page__prev,
  .profile-page__next {
    bottom: 35%;
    width: 0;
    height: 0;
  }

  .profile-page__next {
    right: 0;
  }

  .profile-page__portfolio {
    width: 100%;
  }

  .profile-page__item {
    margin: 0 auto;
    max-width: none;
  }
}
