/* stylelint-disable */


.active+.active {
  opacity: 0.5;
}

.active+.active+.active {
  opacity: 0.3;
}

.active+.active+.active+.active {
  opacity: 0.2;
}

.active+.active+.active+.active+.active {
  opacity: 0.05;
}

/* stylelint-enable */
.slider-portfolio {
  @include container();
  display: flex;
  justify-content: space-between;

  overflow-x: hidden;

  padding-left: 0;
  padding-right: 0;

  width: 120%;
}

.slider-portfolio__item {
  text-align: left;

  font-size: 48px;
  list-style: none;

  cursor: pointer;
}

.slider-portfolio__item:hover {
  opacity: 1;
}

// @media (max-width: $tablet-width-max) {}

@media (max-width: $mobile-width-max) {
  .slider-portfolio {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .slider-portfolio__item {
    font-size: 24px;
  }
}
