/* stylelint-disable */


.slider-portfolio .slick-active+.slick-active {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.slider-portfolio .slick-active+.slick-active+.slick-active {
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

.slider-portfolio .slick-active+.slick-active+.slick-active+.slick-active {
  opacity: 0.2;

  &:hover {
    opacity: 1;
  }
}

.slider-portfolio .slick-active+.slick-active+.slick-active+.slick-active+.slick-active {
  opacity: 0.05;

  &:hover {
    opacity: 1;
  }
}

.slider-portfolio .slick-active+.slick-active+.slick-active+.slick-active+.slick-active+.slick-active {
  opacity: 0.03;

  &:hover {
    opacity: 1;
  }
}

/* stylelint-enable */
.slider-portfolio {
  @include container();
  // display: flex;
  // justify-content: space-between;

  // overflow-x: hidden;

  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;

  // width: 120%;
}

.slider-portfolio__item {
  padding: 0 26px;

  text-align: left;

  font-size: 48px;
  // list-style: none;

  cursor: pointer;
}

.slider-portfolio-inner .portfolio__sublabel {
  display: block;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 22px;
  min-width: 35%;

  outline: none;
}

.slider-portfolio-inner:focus .portfolio__sublabel {
  outline: none;
}

.slider-portfolio-inner {
  margin: 0 auto;
  width: 75%;
}

// @media (max-width: $tablet-width-max) {}

@media (max-width: $mobile-width-max) {
  .slider-portfolio {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .slider-portfolio__item {
    font-size: 24px;
  }
}
