.track__track01,
.track__track02,
.track__track03,
.track__track04 {
  width: 100%;
  height: 100vh;

  background-position: center;
  background-size: cover;
}

.track__track01 {
  background-image: url("../img/track01-img-bg@1x.png");
}

.track__track02 {
  background-image: url("../img/track02-img-bg@1x.png");
}

.track__track03 {
  background-image: url("../img/track03-img-bg@1x.png");
}

.track__track04 {
  background-image: url("../img/track04-img-bg@1x.png");
}

.track__nav {
  padding-top: 73px;
  padding-bottom: 22px;
  margin: 0 auto;
  width: 75.5%;
}

.track__timeline {
  display: block;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 195px;
  width: auto;
}

.track__timeline--type1 {
  margin-bottom: 70px;
}

.track__list {
  @include unlist();
  @include container();
  display: flex;
  justify-content: space-between;

  max-width: 1138px;
}

.track__link {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;

  padding: 0;
  margin: 0;

  color: $white;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 120%;

  text-decoration: none;

  cursor: pointer;
}

.track__link--type1 {
  opacity: 0.3;
}

.track__link:hover {
  color: $bg-red;
  opacity: 1;
}

.track__main {
  @include container();
}

.track__title {
  padding: 0;
  margin: 0 0 25px 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  line-height: 120%;
}

.track__text {
  padding: 0;
  margin: 0 0 30px 0;
  width: 46%;

  font-size: 16px;
  line-height: 150%;
}

.track__text--type1 {
  margin: 0;
  width: auto;

  opacity: 0.5;
}

.track__text--type2 {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
}

.track__text--red {
  color: $bg-red;
}

.track__button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 18px 0;
  margin: 30px 19px 27px 0;
  min-width: 236px;

  color: $white;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-decoration: none;
  text-align: center;

  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 50px;

  cursor: pointer;
}

.track__button:hover {
  border-color: $bg-red;
  background-color: $bg-red;
}

.track__button--type1:hover {
  color: $bg-red;

  background-color: $white;
}

.track__button--type1 {
  border-color: $bg-red;
  background-color: $bg-red;
}

.track__button--main {
  padding-left: 15px;
}

.track__button--main::before {
  position: absolute;
  content: "";
  top: 35%;
  left: 67px;
  width: 12px;
  height: 16px;

  background: url("../img/track01-icon-dwnl@1x.svg");
}

.track__button--type1::before {
  left: 54px;
}

.track__button--type2 {
  background-color: transparent;
}

.track__button--type1:hover::before {
  background: url("../img/track01-icon-dwnl-hover@1x.svg");
}

.track__bottom {
  @include unlist();
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52%;
}

.track__bottom li:last-child {
  margin-left: -63px;
}

.track__alert {
  display: block;

  margin-bottom: 40px;
}

.track__team {
  @include unlist();
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}

.track__specialist {
  min-width: 20%;
  min-height: 123px;

  background-color: $bg-gray;
}

@media (max-width: $tablet-width-max) {
  .track__main {
    text-align: center;
  }

  .track__text {
    width: 100%;
  }

  .track__bottom {
    margin: 0 auto;
    width: 70%;
  }

  .track__text--type1 {
    width: 100%;
  }

  .track__bottom li:last-child {
    margin-left: -20px;
  }

  .track__button--type1 {
    margin-right: 0;
  }

  .track__button--type2 {
    justify-content: center;
  }

  .track__alert {
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width-max) {
  .track__nav {
    padding-top: 30px;
  }

  .track__link--type1 {
    display: none;
  }

  .track__list {
    display: block;
    width: 100%;

    text-align: center;
  }

  .track__title {
    padding: 0;
    margin: 0 0 15px 0;

    font-size: 42px;

    text-align: center;
  }

  .track__timeline {
    padding: 0 20px;
    margin-top: -20px;
    margin-bottom: 30px;

    width: 80%;
  }

  .track__main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
  }

  .track__main--type1 {
    height: auto;
  }

  .track__text {
    margin-bottom: 10%;

    width: 100%;

    text-align: center;
  }

  .track__button {
    margin: 10px 5%;
    width: auto;
  }

  .track__doc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .track__bottom {
    display: none;
    // justify-content: center;
    // flex-wrap: wrap;

    // margin: 0 auto;
  }

  .track__bottom li:last-child {
    margin-left: 0;
  }

  .track__team {
    flex-direction: column;
    width: 100%;
  }

  .track__specialist {
    margin-bottom: 20px;
  }
}
