$bg-page: #1e1d1e;
$bg-red: #b70046;
$bg-gray: #2c2c2c;
$bg-dark: #141414;
$white: #ffffff;
$black: #000000;

$roboto: "Roboto";

$mobile-width: 320px;
$mobile-width-max: 767px;

$tablet-width: 768px;
$tablet-width-max: 1204px;

$desktop-wrapper: 1205px;
// $desktop-width: 1600px;

// $tablet-wrapper: 678px;
$offset: 15px;
$tablet-offset: 45px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// $text-blue: #102654;
// $bg-footer: #030a1a;
// $border: linear-gradient(45deg, rgba(208, 11, 67, 1) 35%, rgba(5, 53, 157, 1) 100%);
