$text-blue: #102654;
$bg-blue: #1c3374;
$bg-red: #ed0233;
$bg-footer: #030a1a;
$border: linear-gradient(45deg, rgba(208, 11, 67, 1) 35%, rgba(5, 53, 157, 1) 100%);
$white: #ffffff;

$roboto-cond: "Roboto Condensed";


$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1199px;
$desktop-width: 1200px;
$desktop-wrapper: 1160px;
$tablet-wrapper: 678px;
$offset: 15px;
$tablet-offset: 45px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
